@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');


* { 
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* ======= Container ======= */

/* ======= Imagem ======= */
#imagem {
    background-image: url('../img/forca06.png');
    width: 234px;
    height: 273px;
}

/* ======= Palavra secreta ======= */

/* ======= Teclas ======= */

/* ======= Categorias ======= */


/* ======= Responsive/Responsividade ======= */
